@import '@fortawesome/fontawesome-svg-core/styles';
@import 'highlight.js/styles/github.css';

// flexible border-box reset
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

// Smooth scrolling
html {
    scroll-behavior: smooth;
}

// Remove default HTML margins
body {
    margin: 0;
}

// Typography
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');
body {
    font-family: "Open Sans", "Segoe UI", "Helvetica", sans-serif, system;
    font-size: 20px;
}

.gfont.teko {
    font-family: "Teko", "Segoe UI", "Helvetica", sans-serif, system;
}

.gfont.cairo {
    font-family: "Cairo", "Segoe UI", "Helvetica", sans-serif, system;
}

.gfont.consolas {
    font-family: "Consolas", "Segoe UI", "Helvetica", sans-serif, system;
}

// Add default link styling
a:not(.not.a.link) {
    transition: color 0.5s ease;
    &:hover {
        color: rgb(0, 38, 161);
    }
}